/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";
@import "compass/css3";

/* Defaults */

$blueprint-grid-columns: 10;
$blueprint_grid_width: 10;
@import "blueprint/grid";
$sans: Arial, sans-serif;
$sansH: 'Helvetica Neue', Helvetica;
$serif: Georgia, serif;

/* Colors */ 
$pnk: #f23d97;
$teal: #70cbd2;
$grn: #c0d62e;
$ylw: #fada3c;
$tan: #c9c2b3;
$gry: #6c7372;



/* Framework */

body {
	width: 100%;
	text-align: center;
	font-family: $sans;
	color: #454545;
	font-size: 16px;
	line-height: 1.5em;
	background-color: #fff;
	position: relative;
}
.screen-reader-text {
	display: none;
}
a {
	color: $pnk;
	text-decoration: none;
}
a:hover, a:active {
	text-decoration: underline;
}
p strong {
	font-weight: bold;
}
.button {
	display: inline-block;
	padding: 7px 20px;
}
.button.rm {
	background-color: $pnk;
	font-family: $serif;
	font-style: italic;
	color: #fff;
	font-weight: bold;
}
.button.rm:hover {
	background-color: $teal;
}
#page {
	margin: 0 auto;
	position: relative;
	width: 1025px;
	background-color: #fff;
	max-width: 100%;
}

#masthead, #blog-main, footer {
	width: 100%;
	clear: both;
}
#blog-main {
	@include border-radius(10px);
	@include box-shadow(rgba(black, 0.1) 0px 0px 15px 0px);
	padding: 40px;
	width: 90%;               /* fallback for browsers without support for calc() */
	margin: 0 auto;
  	width: -moz-calc(100% - 80px);
  	width: -webkit-calc(100% - 80px);
  	width: -o-calc(100% - 80px);
  	width: calc(100% - 80px);
  	margin-bottom: 20px;

	.col-main {
		width: 70%;
		float: left;
	}
	#sidebar {
		width: 25%;
		min-width: 250px;
	}
	#sidebar.right {
		float: right;
	}
}

/* Header */
header#masthead {
	#logo {
		float: left;
		padding-top: 15px;
	}
	#nav-toggle {
		display: none;
	}
	#nav-super, #nav-main {
		float: right;
		clear: right;
		display: inline-block;

		li {
			float: left;
		}
	}
	#nav-super {
		font-size: 0.7em;
		text-transform: uppercase;
		li {
			padding: 0 10px;
			margin: 7px 0px;
			color: lighten(#000, 70%);
		}
		li:first-child {
			border-right: 1px solid lighten(#000, 70%);
		}
	}
	#nav-main {
		font-family: $serif;
		font-style: italic;

		a:hover {
			text-decoration: none;
		}
		li {
			margin: 15px 0 0;
			a {
				color: #333;
				padding: 15px 30px;
				display: inline-block;
			}
			ul {
				opacity: 0;
				z-index: -1;
				position: absolute;
			}
		}
		li.menu-item-1153, li:hover {
			
			a {
			 	color: $pnk;
			 }
		}
		li.menu-item-1153 {
			@include background-image(linear-gradient(#fff, #f4f4f4));
			 border-bottom: 2px solid $pnk;
		}
		li.menu-item-1155 a {
			background: url('http://karigran.com/skin/frontend/default/karigran/images/shopping-bag.png') no-repeat 0 0;
			display: block;
			width: 20px;
			text-align: center;
			height: 34px;
			font-family: $serif;
			font-style: italic;
			padding: 0;
			line-height: 2.4em;
			margin-top: 7px;
			margin-right: 20px;
			color: $pnk;
		}
		li.menu-item-1155 a:hover {
			background-position: 0 100%;
			color: #fff;
		}
	}

}

/* Main Content */
#blog-main {
	header.banner {
		height: 100px;
		padding: 10px 0;
		width: 100%;
		background: url('../images/the-kari-blog.gif') 50% 50% no-repeat;
		background-size: cover;
		margin-bottom: 40px;

		a {
			position: relative;
			width:100%;
			height: 100%;
			display: inline-block;
		}
		h1 {
			text-indent: -9999px;
		}
	}
	.cat.cat-13, .cat.cat-13 a, #sidebar .cat-13 a span {
		color: $teal;
	}
	.cat.cat-1, .cat.cat-1 a, #sidebar .cat-1 a span {
		color: $grn;
	}
	.cat.cat-4, .cat.cat-4 a, #sidebar .cat-4 a span {
		color: $tan;
	}
	.cat.cat-12, .cat.cat-12 a, #sidebar .cat-12 a span {
		color: $ylw;
	}
	.cat.archive, .cat.archive a, #sidebar .archive a span {
		color: $gry;
	}
	.col-main {
		.author-description {
	  		font-size: 0.95em;
	  		margin: 7px 0 40px;
	  		text-align: left;
	  		padding-bottom: 30px;
	  		border-bottom: 1px solid #f3f3f3;
	  	}
		.post {
			clear: both;
			display: inline-block;
			text-align: left;
			margin-top: -6px;

			.post-thumbnail {
				display: inline-block;
				height: 288px;
				overflow: hidden;
				img {
					width: 100%;
					height: auto;
				}
			}
			ul#socialCount {
				position: absolute;
				left: -55px;
				top: 25px;
				width: 50px;
				overflow: visible;
				margin-left: 0;

				li {
					list-style-type: none;
					position: relative;
					color: #333;

					a {
						display: inline-block;
						color: #333;
					}
					a:hover {
						text-decoration: none;
					}
					div {
						font-size: 1.7em;
					}
					span.count {
						font-size: 0.8em;
					}
				}
				span.text {
					color: #898989;
					text-transform: uppercase;
					font-size: 0.8em;
				}
				li#comment_icon {
					width: 130px;
					position: relative;
					left: -55px;
					div {
						color: $teal;
						font-size: 1.7em;
						font-weight: 200;
					}
					span.text {
						text-transform: none;
						font-weight: bold;
						position: relative;
						top: -7px;
					}
					span.count {
						position: absolute;
						width: 27px;
						color: #fff;
						text-align: center;
						top:2px;
						left: 0;
					}
				}
				li.facebook a:hover {
					color: #3b5998;
				}
				li.pinterest a:hover {
					color: #c92228;
				}
				li.twitter a:hover {
					color: #4099ff;
				}
				li#mail {
					margin-right: 0;
				}
				li#mail a:hover {
					color: $teal;
				}
			}
			.entry-meta {
				width: 15%; /* fallback for browsers without support for calc() */
				float: left;
				color: lighten(#000, 70%);
				font-size: 0.8em;
			  	width: -moz-calc(0% + 100px);
			  	width: -webkit-calc(0% + 100px);
			  	width: -o-calc(0% + 100px);
			  	width: calc(0% + 100px);
			  	line-height: 1.4em;
			  	text-align: right;
			  	position: relative;
			  	margin-top: 4px;

			  	a {
			  		color: lighten(#000, 70%);
			  	}
			  	.diamond {
			  		background-color: $tan;
			  		height:10px;
			  		width:7px;
			  		@include transform(skew(10deg, 10deg) rotate(45deg));
			  		position: absolute;
			  		right: -18px;
			  		top: 2px;
			  		z-index: 10;
			  	}
			}
			.entry-content {
				width: 80%; /* fallback for browsers without support for calc() */
				float: right;
			  	width: -moz-calc(100% - 160px);
			  	width: -webkit-calc(100% - 160px);
			  	width: -o-calc(100% - 160px);
			  	width: calc(100% - 160px);
			  	padding-left: 15px;
			  	border-left: 1px solid #f5f5f5;
			  	margin-left: 0px;
			  	padding-bottom: 40px;
			  	position: relative;
			  	margin-right:30px;

			  	ul {
					font-family: $sans;
					margin-left: 20px;
					font-size: 0.95em;
					line-height: 1.5em;

					li {
						margin-bottom: 15px;
						float: none;
			  			list-style-type: disc;
					}
				}

			  	.cat {
			  		font-family: $serif;
			  		font-size: 1.1em;
			  		font-style: italic;
			  		font-weight: 200;
			  		display: inline-block;
			  	}

			  	h1 {
			  		text-transform: uppercase;
			  		font-weight: 200;
			  		font-size: 1.65em;
			  		line-height: 1.25em;
			  		margin: 5px 0 10px;
			  		font-family: $sansH;

			  		a:hover {
			  			text-decoration: underline;
			  			color: $pnk;
			  		}
			  	}
			  	p {
			  		font-size: 0.95em;
			  		margin: 7px 0 25px;
			  	}
			}
		}
		.site-content iframe {
			max-width: 100%;
		}
		footer.entry-meta {
			display: none;
		}
		#comment-area {
			width: 100%;
			margin-left: -40px;
			width: -moz-calc(100% + 40px);
		  	width: -webkit-calc(100% + 40px);
		  	width: -o-calc(100% + 40px);
		  	width: calc(100% + 40px);

			.pagination {
				border-top: 1px solid #f5f5f5;
				border-bottom: 1px solid #f5f5f5;
				text-align: right;
				font-family: $serif;
				font-style: italic;
				padding: 10px 0;
				margin: -7px 0 0;

				a {
					color: #333;
					padding: 0px 15px;
					margin: 10px 0;
					display: inline-block;

					span {
						color: $pnk;
						font-weight: bold;
					}
				}
				a[rel="prev"] {
					border-right: 1px solid #f5f5f5;
					padding-right: 20px;
				}
			}
			h2.comments-title {
				width: 100%;
				background-color: #f8f8f8;
				margin: 0;
				padding: 60px 0 20px;
				font-family: $sansH;
				text-transform: uppercase;
				color: $pnk;
				font-size: 1.7em;
				letter-spacing: 0.06em;
				text-align: left;
				font-weight: 200;

				span {
					margin-left: 20px;
					background: url(../images/comment-icon.png) 0 0 no-repeat;
					width: 24px;
					height: 24px;
					padding: 5px 15px 5px 5px;
					font-size: 12px;
					display: inline-block;
					text-align: center;
					color: #5a5a5a;
				}
			}
		}
		#respond {
			background-color: #f8f8f8;

			#commentform {
				display: inline-block;
				width: 95%;
				padding-bottom: 40px;

				.logged-in-as {
					text-align: right;
					padding-right: 10px;
				}

				textarea, label, label input[type="text"], label input[type="email"] {
					font-style: italic;
					font-size: 0.8em;
				}
				label {
					color: #868686;
					border-bottom: 1px solid #868686;
					float: right;
					clear: right;
					width: 35%;
					margin-bottom: 7px;
				}
				label input[type="text"], label input[type="email"] {
					font-style: normal;
					color: #333;
					border: none;
					background: none;
					padding: 10px 10px 13px;
					float: right;
					width: 65%;
				}
				label input[type="text"]:focus, label input[type="email"]:focus {
					border-bottom: 3px solid $teal;
					outline: none;
					padding: 10px 10px;
				}
				textarea {
					background-color: #f4f4f4;
					border: 1px solid #dfdfdf;
					padding: 20px;
					float: left;
					color: #dfdfdf;
					width: 52%;
					margin-top: -30px;
				}
				p.form-submit {
					width: 35%;
					float: right;
					margin: 20px 0 0;
				}
				input[type="submit"] {
					background: $pnk;
					border: none;
					color: #fff;
					font-style: italic;
					font-family: $serif;
					font-size: 1.1em;
					padding: 10px 20px;
					float: left;
					cursor: pointer;
				}
				input[type="submit"]:hover {
					background: $teal;
				}
			}

		}
		ol.comment-list {
			display: inline-block;
			margin-top: 60px;
			color: #5a5a5a;
			.comment-meta {
				width: 15%; /* fallback for browsers without support for calc() */
				float: left;
				color: lighten(#000, 70%);
				font-size: 0.8em;
			  	width: -moz-calc(0% + 110px);
			  	width: -webkit-calc(0% + 110px);
			  	width: -o-calc(0% + 110px);
			  	width: calc(0% + 110px);
			  	line-height: 1.4em;
			  	text-align: right;
			  	position: relative;
			  	margin-top: 4px;
			  	padding-left: 40px;
			  	z-index: 200;

			  	.diamond {
			  		background-color: $tan;
			  		height:10px;
			  		width:7px;
			  		@include transform(skew(10deg, 10deg) rotate(45deg));
			  		position: absolute;
			  		right: -24px;
			  		top: 2px;
			  	}
			}
			.comment-content {
				width: 80%; /* fallback for browsers without support for calc() */
				float: right;
			  	width: -moz-calc(100% - 195px);
			  	width: -webkit-calc(100% - 195px);
			  	width: -o-calc(100% - 195px);
			  	width: calc(100% - 195px);
			  	padding-left: 20px;
			  	border-left: 1px solid #f5f5f5;
			  	border-right: 4px solid #f4f4f4;
			  	margin-left: 20px;
			  	margin-bottom: 3px;
			  	position: relative;

			  	.arrow {
			  		position: absolute;
			  		height:21px;
			  		width:15px;
			  		background: url(../images/comment-arrow.png) no-repeat;
			  		display: inline-block;
			  		top: 20px;
			  		left: 8px;

			  	}

			  	.container {
			  		background-color: #f4f4f4;
			  		border-left: 1px solid #d2d2d2;
			  		text-align: left;
			  		padding: 20px;
			  	}
			}
			ul.children {
				display: inline-block;
				width: 80%; /* fallback for browsers without support for calc() */
				float: right;
			  	width: -moz-calc(100% - 195px);
			  	width: -webkit-calc(100% - 195px);
			  	width: -o-calc(100% - 195px);
			  	width: calc(100% - 195px);
			  	background-color: #f4f4f4;
			  	border-left: 5px solid #d2d2d2;

			  	.comment-meta, .comment-content {
			  		width: 100%;
			  		background: none;
			  		float: right;
			  		text-align: left;
			  		padding: 0;
			  		border: none;

			  		.arrow, .diamond {
			  			display: none;
			  		}
			  		.comment-author, .date {
			  			display: inline-block;
			  			margin-top: 20px;
			  		}
			  		.comment-author {
			  			padding-left: 20px;
			  		}
			  		.container {
			  			border: none;
			  			padding-top: 5px;
			  		}
			  	}

			}
		}
	}
	#sidebar {
		text-align: left;
		h3 {
			font-family: $sansH;
			font-weight: 200;
			color: #333;
			font-size: 1.2em;
			text-transform: uppercase;
			margin: 3px 0 7px;
			letter-spacing: 0.05em;
		}
		.side-social {
			ul {
				display: inline-block;
				clear: both;
				border-bottom: 1px solid #f3f3f3;
				padding: 5px 0 20px;
				margin-bottom: 15px;
				width: 100%;

				li {
					float: left;
					margin: 5px 10px 0 0;

					a {
						color: #fff;
						padding: 8px 8px 3px;
						@include border-radius(20px);
						display: inline-block;
						@include transition(background-color 0.4s);
					}
					a:hover {
						text-decoration: none;
					}
					.icon {
						font-size: 20px;

					}
				}
				li.fb a {
					background-color: #3b5998;
				}
				li.pin a {
					background-color: #cb211d;
				}
				li.tw a {
					background-color: #56a3d9;
				}
				li.yt a {
					background-color: #bf221f;
				}
				li a:hover {
					background-color: $gry;
				}
				li.yt {
					margin-right: 0;
				}
			}
		}
		form#searchform {
			border-bottom: 1px solid #f3f3f3;
			padding-bottom: 0px;
			margin-bottom: 25px;
			display: inline-block;
			width: 100%;

			input[type="text"] {
				border: none;
				background-color: #f4f4f4;
				padding: 10px;
				text-transform: uppercase;
				font-family: $sansH;
				letter-spacing: 0.07em;
				font-size: 0.8em;
				color: $gry;
				@include border-radius(5px);
				float: left;
				width: 75%;
			}
			label {
				float: right;
				padding: 10px 0;
				cursor: pointer;
				width: 10%;
			}
			input[type="submit"] {
				background: none;
				border: none;
			}
		}
		.side-cats {
			margin-bottom: 40px;
			a:hover {
				text-decoration: none;
			}
			ul {
				li {
					font-family: $serif;
					font-style: italic;
					border-bottom: 1px solid #f3f3f3;

					a {
						color: $gry;
						padding: 10px 0;
						display: inline-block;
						width: 100%;
						@include transition(background-color 0.4s);
					}
				}
				li a:hover {
					color: #fff;
				}
				.cat-13 a:hover {
					background-color: $teal;
				}
				.cat-1 a:hover {
					background-color: $grn;
				}
				.cat-4 a:hover {
					background-color: $tan;
				}
				.cat-12 a:hover {
					background-color: $ylw;
				}
				.archive a:hover {
					background-color: $gry;
				};
			}
		}
		.side-trends {
			clear: both;
			display: inline-block;
			padding-bottom: 15px;
			position: relative;
			width: 100%;
			height: 250px;
			line-height: 1.2em;
			font-size: 0.9em;
			border-bottom: 1px solid #f3f3f3;
			margin-bottom: 40px;
			ul {
				width: 100%;
				display: inline-block;
				background-color: #f4f4f4;
				height: 32px;
			}
			.tab {
				color: lighten($gry, 15%);
				font-family: $sansH;
				
				text-transform: uppercase;
				font-weight: 200;
				padding: 7px 20px;
				letter-spacing: 0.05em;
				position: relative;
				width: 100%;
				cursor: pointer;
				line-height: 1.5em;

				span.arrow {
					display: none;
					width: 0; 
					height: 0;
					border-top: 15px solid #f4f4f4;
					border-left: 10px solid transparent; 
					border-right: 10px solid transparent; 
					position: absolute;
					left: 40%;
				}
			}
			li#trending {
				border-right: 1px solid #d4d4d4;
			}
			li#trending, li#recent {
				float: left;
				padding: 4px 0px 6px;
				border-bottom: 1px solid #d4d4d4;
				width:49.5%;
				text-align: center;
			}
			li#trending.active, li#recent.active {
				.tab {
					color: darken($gry, 10%);

					span.arrow {
						display: block;
					}
				}
			}
			li#recent {
				float: right;
				padding-left: 0px;
			}
			li ul {
				opacity: 0;
				z-index: 90;
				@include transition (opacity 0.5s);
				position: absolute;
				clear: both;
				width: 100%;
				left: 0;
				top: 50px;
				background: none;
				text-align: left;

				li {
					clear: both;
					padding: 7px 0;
					font-family: $sansH;
					text-transform: uppercase;
					font-weight: 200;

					img {
						padding-right: 10px;
						height: 50px;
						width: auto;
						float: left;
					}
					a {
						display: block;
						clear: right;
					}
					.date {
						display: block;
						font-size: 1.2 em;
						line-height: 1.2em;
					}
				}
			}
			li.active ul {
				opacity: 1;
				z-index: 100;
			}

		}
		.side-contributors {
			border-bottom: 1px solid #f3f3f3;
			padding-bottom: 15px;
			margin-bottom: 40px;

			a {
				color: #333;
			}
			ul {
				width: 100%;
				display: inline-block;
				position: relative;
				li {
					width: 50%;
					margin: 10px 0;
					padding:0;
					float: left;
					text-align: center;
					img {
						height:auto;
						width: 80%;
						@include border-radius(50px);
						opacity: 0.7;
					}
				}
				li:hover {
					img {
						opacity: 1;
					}
				}
			}
		}
		.side-contact {
			a {
				color: #333;
			}
			p {
				margin: 10px 0 15px;
			}
			span {
				display: block;
				margin: 0 0 3px;
			}
			div.icon {
				display: inline-block;
				padding-right: 7px;
				clear: left;
			}
		}
	}
}
.archive #blog-main {
	.col-main #primary #content {
		header.archive-header {
			h1 {
				font-size: 1.2em;
				font-family: $serif;
				font-style: italic;
				text-align: left;
				color: $gry;
				padding: 5px 0 20px;
			}
			h1.cat-13 {
				color: $teal;
			}
			h1.cat-1 {
				color: $grn;
			}
			h1.cat-4 {
				color: $tan;
			}
			h1.cat-12 {
				color: $ylw;
			}
		}
		.post {
			.entry-content {
				h1 {
					margin-top: 0;
				}
			}
		}
	}
}
#pagination {
	clear: both;
	display: inline-block;
	width: 100%;
	text-align: center;
	margin: 20px 0 40px;

	ul {
		display: inline-block;
		font-family: $sansH;
		font-weight: 200;

		li {
			float: left;
			margin: 0 2px;

			a {
				padding: 5px 10px;
				background-color: #f4f4f4;
				color: #b2b2b2;
			}
		}
		li:hover, li.selected {
			a {
				background-color: #b2b2b2;
				color: #fff;
			}
		}
		li.next a {
			background: none;
			color: #333;
			font-family: $serif;
			font-style: italic;

			span {
				color: $pnk;
				font-weight: bolder;
			}
		}
		li.next:hover a {
			color: #666;
		}
	}
	.loop-pagination {
		display: inline-block;
		font-family: $sansH;
		font-weight: 200;

		span.page-numbers, a.page-numbers {
			padding: 5px 10px;
		}
		span.page-numbers, a.page-numbers:hover {
			background-color: #b2b2b2;
			color: #e5e5e5;
		}
		a.page-numbers {
			background-color: #e5e5e5;
			color: #b2b2b2;
		}
		a.next, span.dots, a.prev {
			background: none;
			color: #b2b2b2;
		}
		a.next, a.prev {
			font-family: $serif;
			color: #333;
			font-style: italic;
		}
		a.next:hover, a.prev:hover {
			background: none;
			color: $pnk;
			text-decoration: none;
		}
	}
}

/* Footer */
footer {
	padding-top: 40px;
	width: 100%;
	clear: both;
	display: inline-block;

	aside {
		width: 100%;
		display: inline-block;
	}

	section.links {
		width: 50%;
		text-transform: uppercase;
		font-family: $sansH;
		font-weight: 200;
		font-size: 0.9em;
		letter-spacing: 0.05em;
		float: left;
		ul {
			float: left;
			width: 30%;
			text-align: left;

			li {
				a {
					color: $gry;
				}
				a:hover {
					color: $teal;
				}
			}
		}
	}
	section.social {
		float: right;
		width: 50%;

		ul {
			display: inline-block;
			clear: both;
			padding: 5px 0 0px;
			margin-bottom: 15px;
			width: 100%;

			li {
				float: left;
				margin: 5px 10px 0 0;

				a {
					color: #fff;
					padding: 8px 8px 3px;
					@include border-radius(20px);
					display: inline-block;
					@include transition(background-color 0.4s);
					text-decoration: none;
				}
				.icon {
					font-size: 20px;

				}
			}
			li.fb a:hover {
				background-color: #3b5998;
			}
			li.pin a:hover {
				background-color: #cb211d;
			}
			li.tw a:hover {
				background-color: #56a3d9;
			}
			li.yt a:hover {
				background-color: #bf221f;
			}
			li a {
				background-color: $gry;
			}
			li.yt {
				margin-right: 0;
			}
			li.first {
				font-family: $sansH;
				text-transform: uppercase;
				color: $gry;
				font-weight: 200;
				margin-top: 12px;
			}
		}
	}
	form#mc-embedded-subscribe-form {
		text-align: left;
		display: block;
		input[type="email"] {
			border: 1px solid #F53797;
			color: #F53797;
			font-size: 14px;
			font-family: Georgia;
			font-style: italic;
			line-height: 26px;
			padding-left: 7px;
			padding-right: 7px;
			width: 300px;
			margin-right: 10px;

		}
		label span {
			color: $pnk;
		}
		label {
			font-size: 0.8em;
			float: left;
		}
		input[type="submit"] { 
		   background: url(http://karigran.com/skin/frontend/default/karigran/images/btn-newsletter-go.png) no-repeat;
		   height: 32px;
		   width: 40px;
		   border: none;
		   padding: 5px 10px;
		   cursor: pointer;
		   text-indent: -9999px;
		}
	}
	.copyright {
		position: absolute;
		bottom: 15px;
		right: 40px;
		color: $gry;
		font-size: 0.8em;
	}
}
@media screen and (max-width: 960px) {
	@import "width_960";
}
@media screen and (max-width: 782px) {
	@import "width_768";
}
@media screen and (max-width: 600px) {
	@import "width_600";
}
